<div class="container">
    <header>TODO LIST</header>
    <hr>
    <div class="todo_input">
        <input type="text" name="todo" #todoName>
        <button class="add_button" (click)="addTodo(todoName.value)">Add</button>
    </div>

    <div class="todo_list">
        <div *ngFor="let todo of todos; let i = index;" class="todo_item">
            {{i+1}}. <app-todo [todo]="todo"></app-todo>
            <span class="right">
                <button (click)="delete(i)">x</button>
            </span>
        </div>
    </div>

    <div class="carousel">
        <ul>
            <li *ngFor="let cl of list; let i = index" [ngClass]="{'active': i === current}">{{cl}}</li>
        </ul>
    </div>
    <button (click)="next()">Next</button>
    <button (click)="prev()">Prev</button>
    <app-scroll></app-scroll>
    <section class="friends">
        <ul>
            <li *ngFor="let friend of friends">
                {{friend.name}}
            </li>
        </ul>
    </section>


</div>

