<!--The content below is only a placeholder and can be replaced.-->
<div class="carouselbox active" #carouselbox>
  <div class="buttons">
    <button class="prev">
      <span class="offscreen">Previous</span>
    </button>
    <button class="next">
      <span class="offscreen">Next</span>
    </button>
  </div>
  <ol class="content" #content>
    <li>1</li>
    <li class="current">2</li>
    <li>3</li>
    <li>4</li>
  </ol>




</div>
<button (click)="navigate()">Navigate</button>
<ul *ngFor="let c of numbers" >
  <app-li [val]="c" #list></app-li>
</ul>
<div style="display: flex;"><div class="img1">
  IMAGE
</div>
<div class="img2">
  IMAGE
</div></div>
Siema
<div class="carousel"><ngx-siema [options]="options">
  <ngx-siema-slide>
    <div class="img1">
      IMAGE
    </div>
  </ngx-siema-slide>
  <ngx-siema-slide>
    <div class="img2"></div>
  </ngx-siema-slide>
  <ngx-siema-slide>
    <div class="img3"></div>
  </ngx-siema-slide>
</ngx-siema></div>
