button {
  padding: 8px 12px;
  display: block;
  border: 2px solid #ddd;
  border-radius: 6px;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
}

.green-btn {
  background-color: #4CAF50;
  color: white;
}
